/*-------------------------------公共样式-------------------------------*/
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,li,form,input,fieldset,table,tr,td,img{padding:0;margin:0;}
ul,ol,li{list-style:none;}
img{border:0;display:block;}
a{text-decoration:none;}
body{font:12px "微软雅黑";}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:100;}
em,i{font-style:normal;}